.about {}

.about__text {
    font-size: 20px;
    margin-bottom: 78px;
}

.quote {
    position: relative;
    font-weight: 400;
    font-size: 44px;
}

.quote {
    display: block;
    padding-left: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.quote:before {
    position: absolute;
    left: 0;
    content: "\201c";
    color: var(--main-menu-bg, #6C0287);
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
}

.quote:after {
    color: var(--main-menu-bg, #6C0287);
    content: "\201d";
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
}

.owner {
    display: flex;
    justify-content: end;
    column-gap: 30px;
    margin-top: 40px;

}

.owner-text {
    font-style: normal;
}